doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title HTML&CSS Slider
body
    section(class='slidershow middle')
        div(class='slides')
            input(type="radio" name="r" id="r1" checked)
            input(type="radio" name="r" id="r2")
            input(type="radio" name="r" id="r3")
            input(type="radio" name="r" id="r4")
            input(type="radio" name="r" id="r5")
            input(type="radio" name="r" id="r6")
            div(class='slide s1')
                img(src="./images/1.jpg", alt="image1")
            div(class='slide')
                img(src="./images/2.jpg", alt="image2")
            div(class='slide')
                img(src="./images/3.jpg", alt="image3")
            div(class='slide')
                img(src="./images/4.jpg", alt="image4")
            div(class='slide')
                img(src="./images/5.jpg", alt="image5")
            div(class='slide')
                img(src="./images/6.jpg", alt="image6")
        nav(class="navigation")
            label(for="r1" class="bar")
            label(for="r2" class="bar")
            label(for="r3" class="bar")
            label(for="r4" class="bar")
            label(for="r5" class="bar")
            label(for="r6" class="bar")